#hero {
  background-position: center top;
}

.hero-text {
  margin-top: 10rem;
}

.contact-page-form {
  margin-right: 5rem;
  max-width: 100%;
}

.svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.phone-email {
  text-align: center;
  margin-top: 3rem;
  font-size: 36px;
}

.phone-email a {
  padding-left: 2rem;
  padding-right: 2rem;
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}


@media only screen and (max-width: 1200px) {

  .hero-text svg {
    width: 0;
  }

  .contact-page-form {
    margin-right: 0;
  }

  #svg-replace {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  #svg-replace::before {
    content: "What's your home worth?";
    color:black;
    font-size: 50px;
    text-transform: uppercase;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
  }

  #svg-replace-2 {
    width: 100%;
    margin-top: 0;
    margin-bottom: 3rem;
  }

  #svg-replace-2::before {
    content: "Contact Lance today";
    color:black;
    font-size: 50px;
    text-transform: uppercase;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 992px) {
  .input-container {
    margin-top: 0;
  }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 576px) {


  .svg {
    transform: scale(0.7);
  }

  #svg-replace::before {
    font-size: 24px;
  }

  #svg-replace-2::before {
    font-size: 20px;
  }
}