/* FORM CSS OVERRIDE
-------------------------------------------------- */
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  color: rgb(0, 0, 0);
  top: -15px;
}


.styled-input label {
  color: rgb(0, 0, 0);
}


input, textarea {
  padding-bottom: 10px;
  background-color: transparent;
  border-bottom: 1.5px solid #000000;
  color: rgb(0, 0, 0);
}

.submit-btn {
  float: none;
  width: auto;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.705);
  color: rgb(0, 0, 0);
  margin-top: 2rem;
}

.submit-btn:hover {
  transform: translateY(3px);
  background-color: rgba(0, 0, 0, 0.747);
  color: white;
}

/* ---------------------------------------- */
/* ----------------- Everything else ------------------ */

.title-whole {
  margin: 0px 20rem;
  max-width: 720px;
}

.title-top {
  width: 100%;
  margin-top: 3rem;
  color:rgb(255, 255, 255);
  font-size: 50px;
  text-transform: uppercase;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgb(255, 255, 255);
  transform: translate(15rem, 8rem);
  text-shadow: 2px 2px 4px #000000;
}

.title-bottom {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color:rgb(255, 255, 255);
  font-size: 50px;
  text-transform: uppercase;
  padding-bottom: 1rem;
  transform: translate(15rem, 8rem);
  text-shadow: 2px 2px 4px #000000;
}

.img-resize {
  min-height: 75vh;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 3rem;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.phone-email a {
  text-decoration: none;
  padding-left: 3rem;
  padding-right: 3rem;
}

.socials {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.socials a {
  padding: 0 3rem;
}

.map-info p {
  color: black;
  font-size: larger;
  margin-bottom: 0.5rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

/* title switch */
.title-resp-top {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
  color:rgb(17, 17, 17);
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgb(17, 17, 17);
}

.title-resp-bottom {
  margin-top: 1rem;
  margin-bottom: 3rem;
  color:rgb(17, 17, 17);
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
}

.title-resp-replace {
  display: none;
}

@media only screen and (max-width: 992px) {
  .title-resp-replace {
    display: initial;
  }
}
/*----------*/

@media only screen and (max-width: 1400px) {
  .title-top {
    font-size: 45px;
    white-space: nowrap;
  }
  .title-bottom {
    font-size: 45px;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 1200px) {
  
  .title-whole {
    margin: 0px 10rem;
  }

  .title-top {
    transform: translate(5rem, 11rem);
  }
  
  .title-bottom {
    transform: translate(5rem, 11rem);
  }

}

@media only screen and (max-width: 1100px) {
  .title-whole {
    margin: 0px 7rem;

  }
}

@media only screen and (max-width: 992px) {
  .title-whole {
    display: none;
  }

  .img-resize {
    height: 50vh;
    min-height: auto;
    background-position:center top;
    background-size: 100%;
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .img-resize {
    height: 40vh;
    background-size: 100%;
    margin-top: 1rem;
  }

  .title-resp-top {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    font-size: 36px;
  }
  
  .title-resp-bottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 36px;
  }
}

@media only screen and (max-width: 576px) {
  .img-resize {
    height: 30vh;
    background-size: 100%;
    margin-top: 0rem;
  }

  .phone-email a {
    padding-left: 0;
    padding-right: 0;
    font-size: 24px;
  }

  .title-resp-top {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    font-size: 26px;
    white-space: nowrap;
  }
  
  .title-resp-bottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 24px;
    padding: 0;
  }

  .socials a {
    padding: 0 1rem;
  }
}