.hero-text {
  margin-top: 10rem;
  margin-bottom:10rem;
}

.contact-page-form {
  margin-right: 5rem;
  max-width: 100%;
}

.svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.phone-email {
  text-align: center;
  margin-top: 3rem;
  font-size: 36px;
}

.phone-email a {
  padding-left: 2rem;
  padding-right: 2rem;
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}

@media only screen and (max-width: 576px) {
  .contact-page-form {
    margin-right: 0;
  }

  .svg {
    transform: scale(0.7);
  }
}