.section-title {
  font-size: 50px;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.resource-card-title {
  margin: 0;
  text-transform: uppercase;
}

.resource-contact {
  margin: 3rem;
  justify-content: space-evenly;
}

.card-header {
  margin: 0;
}

.marketing {
  padding-top: 3rem;
  background-color: #f9f9f9;
}
