/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 1rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* NAVBAR
-------------------------------------------------- */

.blur-nav {
  background-color: rgba(0, 0, 0, 0.754);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.blur-nav a {
  color: #a7a7a7;
  transition: color .15s ease-in-out;
}
.blur-nav a:hover {
  color: #fff;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color:#00000070;
}

/* MARKETING CONTENT
-------------------------------------------------- */

main {
  margin-top: 5.45rem;
}

#hero {
  background: url('../assets/hero.jpg') no-repeat center center;
  height: auto;
  max-width: 100%;
  background-size: 100%;
  text-shadow: 2px 2px 8px #000000;
  margin-left: 1rem;
  margin-right: 1rem;
}

.hero-text {
  margin-top: 20rem;
  margin-bottom: 20rem;
}
.hero-text a {
  margin-top: 1.5rem;
  background-color: rgba(0, 0, 0, 0.275);
}

.hero-text a:hover {
  color:#000000;
}

/* Center align the text within the three columns below the hero */
.marketing .col-lg-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin-top: 2rem;
  margin-bottom: 5rem; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

  .featurette-heading {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1565px) {
  /* #featurettes > div.featurette {
    justify-content: center;
    align-items: center;
  } */
}

@media only screen and (max-width: 992px) {
  
  nav > div.container-fluid {
    text-align: center;
  }
  
  .hero-text {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

}

@media only screen and (max-width: 768px) {

  #hero {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .hero-text {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }

  .tagline_mobile {
    transform: scale(0.75);
  }
  
}

@media only screen and (max-width: 576px) {

  #hero {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .hero-text {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }

  .tagline_mobile {
    transform: scale(0.5);
  }

}
